<div id="main-div">
    <div *ngFor="let kibble of kibbles" id="kibbles">
        <div [ngClass]="kibble.approvedByTokyo ? 'kibbles-header' : ''">
            <div id="left">
                <h1>{{ kibble.name }}</h1>
                <p>Prix: {{ kibble.price }} €</p>
                <p id="taste">Goût : {{ kibble.taste }}</p>
            </div>
            <div *ngIf="kibble.approvedByTokyo">
                <img src="../../assets/img/approved.png" id="approvedByTokyoImage">
                <p id="approvedByTokyoText">Approuvée par Tokyo</p>
            </div>
        </div>
        <img src="{{kibble.imageURL}}"/>
        <div id="buttons">
            <a (click)="goToDetails(kibble.id)" id="more">En savoir plus</a>
            <button (click)="addItemToCart(kibble); $event.stopPropagation()" id="add-cart">Ajouter au panier</button>
        </div>
    </div>
</div>