<div id="main-page">
    <div id="left">
        <img src="../../assets/img/tokyo.png">
    </div>
    <div id="right">
        <h1>Bonjour et bienvenue dans la boutique de Tokyo ! 🐈‍⬛</h1>
        <hr>
        <p>Imaginez un monde où les croquettes ne sont pas seulement de simples croquettes, mais de véritables festins pour papilles félines. Eh bien, ce monde existe, et il s’appelle La Boutique de Tokyo ! <br/>
            Ici, chaque croquette est soigneusement sélectionnée pour satisfaire même les palais les plus sophistiqués de nos amis moustachus. 
            Oui, chez nous, on prend les repas des chats aussi sérieusement que les sushis au Japon. 🍣🐈‍⬛
        </p>
        <p>Certaines croquettes de notre boutique arborent fièrement le badge prestigieux "Validée par Tokyo". C’est un peu comme une étoile Michelin, mais pour chats. <br/>
            Pour obtenir cette distinction, chaque croquette passe un test rigoureux : goûté, mâché, et approuvé par Tokyo, notre expert en la matière (et non, ce n’est pas un chef étoilé, mais un chat avec un palais légendaire). 
            Si Tokyo l'aime, c'est que c'est bon – gustativement ET nutritionnellement. Votre chat mérite bien ça, non ? 🐈‍⬛
        </p>
        <p>Des croquettes bio aux saveurs saumon-camomille (oui, ça existe) aux croquettes classiques au poulet croustillant, notre boutique propose toutes les marques imaginables. Petit mangeur difficile ou gros gourmand qui ne fait 
            pas de chichi, chaque matou y trouvera son bonheur. Et si vous voyez votre chat commencer à lire la liste des ingrédients, pas de panique : c’est normal, nos produits sont tellement bons qu’ils en deviennent intrigants !
        </p>
        <p> Tokyo, ce n’est pas juste un nom, c’est un art de vivre pour les chats. Avec nos croquettes, plus de bol laissé à moitié plein. Vous verrez votre chat courir vers son repas comme 
            s’il venait d’entendre l’ouverture d’une boîte de thon ! <br/>Alors, qu’attendez-vous pour offrir une expérience gastronomique à votre félin adoré ? 
            <br/>Rendez-vous à La Boutique de Tokyo – là où les ronronnements deviennent des standing ovations.
        </p>
        <p>
            Votre chat vous remerciera. Peut-être avec un câlin... ou au moins un regard approbateur (et pour un chat, c’est énorme). 🐈‍⬛💕
        </p>
        <a id="register-link" routerLink="/register">S'INSCRIRE</a>
        <a id="login-link" routerLink="/login">SE CONNECTER</a>
    </div>
</div>