<div id="main-div">
    <div id="left">
        <img src="{{kibbles.imageURL}}"/>
    </div>
    <div id="right">
        <h1>{{kibbles.name}}</h1>
        <hr>
        <div id="menu">
            <p (click)="toggleDescription()" [ngClass]="{'current': selectedMenu === 'description'}">DESCRIPTION</p>
            <p id="valeurs-menu" (click)="toggleNutrition()" [ngClass]="{'current': selectedMenu === 'nutrition'}">VALEURS NUTRITIONNELLES</p>
        </div>
        <hr>
        <p *ngIf="kibblesInStock" [ngClass]="kibblesInStock ? 'status-inStock' : ''">EN STOCK</p>
        <p *ngIf="kibblesSoonOutOfStock" [ngClass]="kibblesSoonOutOfStock ? 'status-soonOutOfStock' : ''">BIENTÔT ÉPUISÉ ({{kibbles.quantity}})</p>
        <p *ngIf="kibblesOutOfStock" [ngClass]="kibblesOutOfStock ? 'status-outOfStock' : ''">EN RUPTURE</p>
        <div id="description" *ngIf="showDescription">
            <p>{{kibbles.description}}</p>
            <p id="taste">Goût : {{kibbles.taste}}</p>
            <div id="toto-avis" *ngIf="approvedByTokyo">
                <img src="../../assets/img/approved.png" id="toto">
                <p id="toto-text">Avis de Tokyo : {{kibbles.tokyoOpinion}}</p>
            </div>
        </div>
        <div id="valeurs-nutritionnelles" *ngIf="showNutrition">
            <div id="ligne">
                <p>Humidité</p>
                <p>{{kibbles.humidity}}%</p>
            </div>
            <div id="ligne">
                <p>Calcium</p>
                <p>{{kibbles.calcium}}%</p>
            </div>
            <div id="ligne">
                <p>Cendres brutes</p>
                <p>{{kibbles.rawAshes}}%</p>
            </div>
            <div id="ligne">
                <p>Protéines brutes</p>
                <p>{{kibbles.rawProteins}}%</p>
            </div>
            <div id="ligne">
                <p>Matières grasses brutes</p>
                <p>{{kibbles.rawFat}}%</p>
            </div>
            <div id="ligne">
                <p>Fibres brutes</p>
                <p>{{kibbles.rawFibers}}%</p>
            </div>
        </div>
        <div id="choice">
            <div class="wrapper">
                <span class="minus">-</span>
                <span class="num"> 1 </span>
                <span class="plus">+</span>
            </div>
            <p id="price">{{kibbles.price}}€</p>
        </div>
        <button id="add-cart">Ajouter au panier</button>
    </div>
</div>