* {
    font-family: "Roboto", sans-serif;
}


#main-div {
    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: stretch;
	align-content: stretch;
    margin-top: 5%;
    height: 100%;
}

#right {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    width: 100%; 
    overflow: auto; 
}

#menu {
    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: stretch;
	align-content: stretch;
    font-size: 1.5em;
}

#menu p.current {
    color: #4E4E4E; 
    font-weight: bold;
}

#menu p {
    color: #AEAEAE;
}

#valeurs-menu {
    margin-left: 10%;
}

#valeurs-nutritionnelles {
    margin-left: 25%;
}

.status-inStock {
    color: #00831C;
    font-weight: bold;
}

.status-soonOutOfStock {
    color: #D26600;
    font-weight: bold;
}

.status-outOfStock {
    color: #D70000;
    font-weight: bold;
}

#taste {
    font-style: italic;
    color: #AEAEAE;
}

#toto-avis {
    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: center;
	align-content: stretch;
    font-style: italic;
}

#toto-text {
    width: 560px;
}

.wrapper {
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #6D2BF8;
    border-radius: 12px;
}

.wrapper span{
    width: 30%;
    text-align: center;
    font-size: 30px;
    font-weight: 600;
    cursor: pointer;
}

.num {
    font-size: 30px;
}

.wrapper span.num{
    font-size: 16px;
    border-right: 2px solid  #6D2BF8;
    border-left: 2px solid  #6D2BF8;
    pointer-events: none;
}

.minus, .plus {
    color:  #6D2BF8;
}

#price {
    font-weight: bold;
    font-size: 30px;
}

#add-cart {
    border: 1px solid #6D2BF8;
    margin: 0 auto;
    width: 40%;
    background-color: #6D2BF8;
    color: white;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    border-radius: 24px;
    display: block;
    padding-left: 5%;
    padding-right: 5%;
    height: 54px;
}

#add-cart:hover {
    cursor: pointer;
    border-color: #3c168f;
    color: white;
    background-color: #3c168f;
}

#choice {
    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-evenly;
	align-items: center;
	align-content: stretch;
}

#ligne {
    width: 50%;
    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: center;
	align-content: stretch;
}