* {
    font-family: "Roboto", sans-serif;
}

#header-div {
    background: linear-gradient(90deg, #000 31.49%, #323131 100%);
    margin: 0;
    padding: 0;
    height: 100px;
    display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	align-content: stretch;
}


h1 {
    margin: 0;
    padding: 0;
    color: white;
    text-align: center;
    font-family: "Roboto", sans-serif;
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    cursor: pointer;
    font-weight: bold;
}

#links {
    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: stretch;
	align-content: stretch;
    width: 45%;
    padding-top: 1%;
}