<div id="main-div">
    <div class="option" routerLink="profile">
        <div class="left">
            <img src="../../assets/img/account-data.png">
        </div>
        <div class="right">
            <p class="title">Vos informations personnelles</p>
            <p>Modifiez vos informations personnelles ou supprimer votre compte.</p>
        </div>
    </div>
    <div class="option" routerLink="account-security">
        <div class="left">
            <img src="../../assets/img/security.png">
        </div>
        <div class="right">
            <p class="title">Connexion et sécurité</p>
            <p>Modifiez votre mot de passe.</p>
        </div>
    </div>
    <div class="option" routerLink="account-wallet">
        <div class="left">
            <img id="wallet" src="../../assets/img/wallet.png" >
        </div>
        <div class="right">
            <p class="title">Paiement</p>
            <p>Gérez vos moyens de paiement. Ajoutez ou supprimez des cartes bancaires.</p>
        </div>
    </div>
</div>