<h1>Se connecter</h1>
<form [formGroup]="connectionForm" (ngSubmit)="onSubmit($event)">
    <label for="login">Login</label>
    <input type="text" id="login" name="login" formControlName="login" appFormFieldHighlight>

    <label for="password">Mot de passe</label>
    <input type="password" id="password" name="password" formControlName="password" appFormFieldHighlight>

    <button type="submit">SE CONNECTER</button>
</form>
<div *ngIf="showErrorMessage">
    <h1>Login ou mot de passe invalides. Merci de réessayer.</h1>
</div>