<h1>Modifier mon mot de passe</h1>

<form [formGroup]="editPasswordForm" (ngSubmit)="onSubmit($event)">
    <label for="currentPassword">Mot de passe actuel</label>
    <input type="password" id="currentPassword" name="currentPassword" formControlName="currentPassword" appFormFieldHighlight>

    <label for="newPassword">Nouveau mot de passe</label>
    <input type="password" id="newPassword" name="newPassword" formControlName="newPassword" appFormFieldHighlight>

    <label for="confirmNewPassword">Confirmez le nouveau mot de passe</label>
    <input type="password" id="confirmNewPassword" name="confirmNewPassword" formControlName="confirmNewPassword" appFormFieldHighlight>

    <button id="edit-password" type="submit">Mettre à jour mon mot de passe</button>
</form>